/* Estilos generales para el carrito */
.Main-Carrito {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.Main-Carrito h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.Carrito-Productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 2rem;
}

/* Estilos para cada producto del carrito */
.Carrito-Producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Carrito-Producto h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.Carrito-Producto p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

/* Estilos para los botones */
.Carrito-Boton {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Carrito-Boton:hover {
    background-color: #0056b3;
}

.Carrito-Producto-BotonEliminar {
    background-color: #e74c3c;
}

.Carrito-Producto-BotonEliminar:hover {
    background-color: #c0392b;
}

/* Estilos para el total */
.Carrito-Total {
    text-align: center;
    margin-top: 20px;
}

.Carrito-Total span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
