/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
.Body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
    gap: 1rem;
    padding: 1rem;
}


/* HEADER */
.Header {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
   
}

.Header-Logo{
    top: 0;
    left: 0;
    display: inline-block;
}

.Header-LogoImagen{
    width: 100px;
    height: auto;
    max-height: 100px;
    display: block;
    
}

.NavUl {
    display: flex;
    list-style: none;

}

.NavUl-Link {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.NavUl-Link:hover {
    color: #007bff;
}

/*MAIN*/


/* FOOTER */
.Footer {
    grid-area: footer;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    align-items: center;
}
