/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.Header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    background-color: beige;
}

.Header-Logo{
    top: 0;
    left: 0;
    display: inline-block;
}

.Header-LogoImagen{
    width: 100px;
    height: auto;
    max-height: 100px;
    display: block;
}

.NavUl {
    display: flex;
    list-style: none;

}

.NavUl-Link {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.NavUl-Link:hover {
    color: #007bff;
}